@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins font-semibold text-base;
}
body {
  @apply bg-fullscreen;
}
.container {
  @apply w-[85%] h-full mx-auto;
}
.nav-active {
  width: 50%;
}
.nav-show{
  @apply opacity-0 translate-x-full
}
.header-box {
  --tw-rotate: 19deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.header-fixed{
  @apply shadow-md bg-white bg-opacity-70;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
.btn-round {
  box-shadow: inset 0px 0px 4px #2e347f;
}
.profile-border {
  box-shadow: inset 0px 0px 4px #2e347f;
}
.change-bg{
  @apply !bg-opacity-100 !text-white;
}
.description_title {
  @apply bg-primary bg-opacity-20 text-primary w-28 h-28 md:w-36 md:h-36 rounded-full font-normal md:text-lg flex justify-center items-center cursor-pointer hover:-translate-y-3 transition-all duration-300 z-10 select-none;
}

.description_text {
  @apply md:absolute md:top-36 mt-2 w-full  py-4 px-6 bg-white shadow-md rounded-lg text-sm md:text-base transition-all duration-500 text-justify ;
}
.unshow {
  @apply p-0 h-0 !text-opacity-0 !w-0 -translate-y-10 md:-translate-y-0;
}
